h1{
    font-size: 100px;
    color: black;
}

p{
    font-size: 50px;
    color: red;
}

body{
    background-image: url(https://media.tenor.com/IOty0wU9SnwAAAAC/ednaldo-pereira-ednaldo.gif);
}